p Hi #{name}, 
p Thanks so much for joining the waitlist!
  br
  | You'll receive another email when Bake.Sale launches.
p In the meantime, let us know what kind of features you want to see by commenting or messaging @bakesalesite on instagram!