p Hi #{name},
p We received a request to reset your password at Bake.Sale. If this was you, follow the link below.
- var href = "//localhost:3000/resetpassword?token=" + token;
a(href=href) Reset Your Password